:root {
    --background: #191B1F;
    --button-primary: #0D6EFD;
    --button-border: #15376C;
}


.docs-container{
    background: var(--background);
    width: 100vw;
    height: 90vh;
    
}

.docs-layout-1 {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    align-items: top;
}

.docs-layout-11-number {
    margin-right: 3vw;
    font-size: 2.5rem;
    font-family: 'inter', 'sans-serif';
    font-weight: 600;
    color: white;
}

.docs-layout-11-box {
    padding: 10px;
    width: 60vw;
    background: #757575;
    border: 1px solid #757575;
    border-radius: 3px;
    color: white;
    font-family: 'inter', 'sans-serif';
    font-weight: 500;
}

.docs-layout-2 {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    align-items: top;
}

.docs-layout-21-number {
    margin-right: 3vw;
    font-size: 2.5rem;
    font-family: 'inter', 'sans-serif';
    font-weight: 600;
    color: white;
}

.docs-layout-21-box {
    width: 60vw;
}

.docs-layout-3 {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    align-items: top;
}

.docs-layout-31-number {
    margin-right: 3vw;
    font-size: 2.5rem;
    font-family: 'inter', 'sans-serif';
    font-weight: 600;
    color: white;
}

.docs-layout-31-box {
    width: 60vw;
}