:root {
  --background: #191B1F;
  --button-primary: #0D6EFD;
  --accent-color: #1441f5;
  --button-border: #15376C;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}


a{
  color: var(--accent-color)
} 